<div style="margin-bottom: 2rem">
<h2 class="title is-4" style="display: inline"><%= @recipe.name %></h2>
<p style="display: inline">by <%= link_to @recipe.user.email, user_path(@recipe.user) %></p>
</div>


<div>
<h3 class="title is-5 flat">Description</h3>
<p class='recipeDescription'><%= @recipe.description %></p>
</div>

<h3 class="title is-5">Ingredients</h3>
<ul class='recipeIngredients'>
	<% @recipe.recipe_ingredients.each do |ri| %>
	  <li><%= ri.ingredient.name %> -
	  <%= ri.quantity %></li>
	<% end %>
</ul>

<h3 class="title is-5">Instructions</h3>
<p class='recipeInstructions'><%= @recipe.instructions %></p>

<a href="#" class='js-next' data-id='<%= @recipe.id %>'>Next recipe...</a>

<h4 class="title is-5">Comments</h4>

<!-- Existing comments  -->
<div class="recipeComments">
	<% @recipe.comments.each do |c| %>
	<p><strong><%= c.user.email %> says:</strong><br>
		<%= c.body %></p>
		<% end %>
</div>

<!-- New comment appended by JS -->
<p id="js-comment"></p>

<!-- New comment form -->
<%= form_for(:comment) do |f| %>
<div style="margin-bottom: -1.5rem">
<%= f.label 'New comment', class: "label" %><br>
</div>
<%= f.text_area :body, class: "textarea" %><br>

<div class="control">
	<button class="button is-small is-primary">Submit</button>
</div>

<% end %>

<!-- Submit comments via form -->
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/recipes/<%= @recipe.id %>/comments', values);

      posting.done(function(data) {
				var newCom = new Comment(data['user']['email'], data['body'])
				newCom.addComment()
      });
    });
  });
</script>

<!-- Next link browses to next recipe -->
<script type="text/javascript">
$(() => {
  $(".js-next").on("click", function(e) {
		e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/recipes/" + nextId + '.json', (data) => {

			// Name
			$('.recipeName').html(data['name']);

			// Description
			$('.recipeDescription').html(data['description']);

			// Ingredients
			$('.recipeIngredients').html('')
			$.each(data['ingredients'], function(index, value) {
				var ingredient = (`<li>${value['name']} - `)
				var quantity = (`${data['recipe_ingredients'][index]['quantity']} units</li>`)
				ing_quan = ingredient + quantity
				$('.recipeIngredients').append(ing_quan)
			});


			// Instructions
			$('.recipeInstructions').html(data['instructions']);

			// Comments
			$('.recipeComments').html('')
			$.each(data['comments'], function(index, value) {
				var user = (`<p><strong>${value['user']['email']} says:</strong> `)
				var body = (`<br>${value['body']}</p>`)
				var comment = user + body
				$('.recipeComments').append(comment)
			});

      // re-set the id to current on the link
			$('.js-next').attr('data-id', data['id']);
    });
  });
});
</script>
