<h1><%= @recipe.name %></h1>
<p>by <%= link_to @recipe.user.email, user_path(@recipe.user) %></p>

<h3>Description</h3>
<p class='recipeDescription'><%= @recipe.description %></p>

<h3>Ingredients</h3>
<ul>
	<% @recipe.recipe_ingredients.each do |ri| %>
	  <li><%= ri.ingredient.name %> -
	  <%= ri.quantity %> units</li>
<% end %>
</ul>

<h3>Instructions</h3>
<p class='recipeInstructions'><%= @recipe.instructions %></p>

<a href="#" class='js-next' data-id='<%= @recipe.id %>'>Next recipe...</a>

<script type="text/javascript">
$(() => {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/recipes/" + nextId + '.json', function(data) {
			// debugger
      $(".recipeInstructions").html(data['instructions']);
      // re-set the id to current on the link
      $('.js-next').attr('data-id', data['id']);
    });
  });
});
</script>
