<h1 class="recipeName"><%= @recipe.name %></h1>
<p>by <%= link_to @recipe.user.email, user_path(@recipe.user) %></p>

<h2>Description</h2>
<p class='recipeDescription'><%= @recipe.description %></p>

<h2>Ingredients</h2>
<ul class='recipeIngredients'>
	<% @recipe.recipe_ingredients.each do |ri| %>
	  <li><%= ri.ingredient.name %> -
	  <%= ri.quantity %> units</li>
	<% end %>
</ul>

<h2>Instructions</h2>
<p class='recipeInstructions'><%= @recipe.instructions %></p>

<a href="#" class='js-next' data-id='<%= @recipe.id %>'>Next recipe...</a>

<h3>Comments</h3>

<!-- Existing comments  -->
<div class="recipeComments">
	<% @recipe.comments.each do |c| %>
	<p><strong><%= c.user.email %> says:</strong><br>
		<%= c.body %></p>
		<% end %>
</div>

<!-- New comment appended by JS -->
<p id="js-comment"></p>

<!-- New comment form -->
<%= form_for(:comment) do |f| %>

<%= f.label :body, 'New comment' %><br>
<%= f.text_area :body %><br>

<%= f.submit %>

<% end %>

<!-- Submit comments via form -->
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/recipes/<%= @recipe.id %>/comments', values);

      posting.done(function(data) {
				var newCom = new Comment(data['user']['email'], data['body'])
				newCom.addComment()
      });
    });
  });
</script>

<!-- Next link browses to next recipe -->
<script type="text/javascript">
$(() => {
  $(".js-next").on("click", function(e) {
		e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/recipes/" + nextId + '.json', (data) => {

			// Name
			$('.recipeName').html(data['name']);

			// Description
			$('.recipeDescription').html(data['description']);

			// Ingredients
			// $('.recipeIngredients').html('')
			// $.each(data['ingredients'], function(index, value) {
			// 	var ingredient = (`<li>${value['name']} - ${value['quantity']} units</li>`)
			// 	$('.recipeIngredients').append(ingredient)
			// });
			//
			// $('.recipeIngredients').html('')
			// $.each(data['recipe_ingredients'], function(index, value) {
			// 	debugger;
			// 	var quantity = (`<li>${value['quantity']} - `)
			// 	ing_quan = ingredient + quantity
			// 	return ing_quan
			// });

			// Ingredients
			$('.recipeIngredients').html('')
			$.each(data['ingredients'], function(index, value) {
				var ingredient = (`<li>${value['name']} - `)
				var quantity = (`${data['recipe_ingredients'][index]['quantity']} units</li>`)
				// $.each(data['recipe_ingredients'], function(index, value) {
				// 	// debugger;
				// 	var quantity = (`${value['quantity']} units</li>`)
					ing_quan = ingredient + quantity
					debugger;
					$('.recipeIngredients').append(ing_quan)
				});
			});


			// Instructions
			$('.recipeInstructions').html(data['instructions']);

			// Comments
			$('.recipeComments').html('')
			$.each(data['comments'], function(index, value) {
				var comment = (`<p><strong>${value['user_id']} says:</strong><br>${value['body']}</p>`)
				$('.recipeComments').append(comment)
			});

      // re-set the id to current on the link
			$('.js-next').attr('data-id', data['id']);
    });
  });
</script>
