<h1><%= @user.email %></h1>

<p>Account created on <%= @user.created_on %>.</p>

<h2><%= @user.email %>'s Recipes</h2>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %><br>
    <button class='js-more' data-id='<%= recipe.id %>'>See Description</button><br >
    <p id='description-<%= recipe.id %>'></p>
    </li>

  <% end %>
</ul>


<script type="text/javascript">
$(() => {
  $('.js-more').on('click', function() {
    var id = $(this).data('id');
    $.get('/recipes/' + id, (data) => {
      $('#description-' + id).html(data);
    });
  });
});
</script>


<!-- <p>See # <%= @user.email %>'s <%= link_to 'recipes', user_recipes_path(@user) %>.</p> -->
